<!-- <h1>Task-management</h1>
<h2>{{ name }}</h2> -->
<section id="tasks">
  <header>
    <h2>{{ name }}'s Task</h2>
    <menu>
      <app-card>
        <button (click)="onStartNewTask()">Add Task</button>
      </app-card>
    </menu>
  </header>
  @if (isAddingTask) {
  <app-new-task (cancel)="onCancelAddTask()" (add)="OnSubmitNewTask($event)" />
  }
  <ul>
    @for (task of selectedUserTask; track $index) {
    <li><app-task [task]="task" (complete)="onCompleteTask($event)" /></li>
    }
  </ul>
</section>
